.shout-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  overflow: visible;
  z-index: 10000;

  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2));
}

/* reset browser button styles */
.shout-container button {
  border: none;
  background: none;
}

.shout-container .shout-button {
  border-radius: 30%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: skyblue;
}

.shout-container .shout-form {
  border: 1px solid skyblue;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: azure;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  max-width: 40rem;
  width: calc(100vw - 2rem);
}

.shout-container .shout-form > .header {
  font-size: 1.5rem;
  margin: 0;
  color: black;
}

.shout-container .shout-form > textarea {
  display: block;
  border: 1px solid lightblue;
  border-radius: 0.2rem;
  padding: 0.1rem 0.4rem;
}

.shout-container .shout-form > .footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
}

.shout-container .shout-form > .footer > button {
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  color: black;
}

.shout-container .shout-form > .footer > .checkbox {
  margin-right: auto;
}

.shout-container .shout-form > .footer > button[type="submit"] {
  background-color: skyblue;
}
.shout-container .shout-form > .footer > button[type="submit"]:disabled {
  background-color: gray;
  cursor: progress;
}
